Version 1.0;

GlobalPList scan_list    {

   GlobalPList sst_scanfull_scfmnom_atpg_list    {

      GlobalPList sst_scanfull_scfmnom_atpg_uncore_12121616_list    {

         GlobalPList sst_scanfull_scfmnom_atpg_uncore_stuckat250_12121616_list [BurstOff] [PreBurst lfd_pre_2M_vrevA3_12121616_4C_0ttx21_6g8m_scnsn_slowst_0]   {
#         LRS_VCFINFO: utype=cmt vrev=vrevA3 mode=6g8m vectype=slowst
            Pat d0049533N4541885_12121616a2x18_MA0fA07WxP_2uxx2eD_4x0xsypxx0xxx_atpg_sa_uncore_CHL_UNITONLY_BGF250;
            Pat d0049529N4541886_12121616a2x18_MA0fA07WxP_2uxx2eD_4x0xsypxx0xxx_atpg_sa_uncore_GQ_UNITONLY_BGF250;
            Pat d0049532N4541887_12121616a2x18_MA0fA07WxP_2uxx2eD_4x0xsypxx0xxx_atpg_sa_uncore_TT_UNITONLY_BGF250;
            Pat d0049531N4541902_12121616a2x18_MA0fA07WxP_2uxx2eD_4x0xsypxx0xxx_atpg_sa_uncore_PCU_UNITONLY_BGF250;
            Pat d0049530N4750496_12121616a2x18_MA0fA07WxP_2uxx2eD_4x0xsypxx0xxx_atpg_sa_uncore_CSRXUUTC10_BGF250;
         } # end of sst_scanfull_scfmnom_atpg_uncore_stuckat250_12121616_list

      } # end of sst_scanfull_scfmnom_atpg_uncore_12121616_list

      GlobalPList sst_atpg_scfmnom_core_20201616_list      { 
         GlobalPList sst_atpg_scfmnom_core_pma_stnr_20201616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA3_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA3 mode=6g8m vectype=slowst
          Pat d0049522N0000000_20201616a2x18_MA0dA07NxC_2uxx2eD_4x0xsbpxx0xxx_atpg_sa_core_OX_30scanop_xmlfix_2;
          Pat d0049534N4541673_20201616a2x18_MA0fA07NxC_2uxx2eD_4x0xsbpxx0xxx_atpg_sa_core_OX_nr50conv;
	  Pat d0049535N4541671_20201616a2x18_MA0fA07NxC_2uxx2eD_4x0xsfpxx0xxx_atpg_sa_core_FE_nr50conv;
	  Pat d0049537N4541672_20201616a2x18_MA0fA07NxC_2uxx2eD_4x0xsmpxx0xxx_atpg_sa_core_MEU_stnr_50;
	} # end of sst_atpg_scfmnom_core_pma_stnr_20201616_list
      } # end of sst_atpg_scfmnom_core_20201616_list

       GlobalPList sst_scanfull_scfmnom_atpg_iio_xx161616_list    {

         GlobalPList sst_scanfull_scfmnom_atpg_iio_xcompact_xx161616_list    {
#         LRS_VCFINFO: utype=cmt vrev=vrevA3 mode=6g8m vectype=slowst
            Pat d0049686N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_a0_rev00_xcompact;
         } # end of sst_scanfull_scfmnom_atpg_iio_xcompact_xx161616_list

      } # end of sst_scanfull_scfmnom_atpg_iio_xx161616_list

   } # end of sst_scanfull_scfmnom_atpg_list
  
   GlobalPList sst_iscandft_list    {

      GlobalPList sst_iscandft_scfmnom_diag_uncore_12121616_list    {

         GlobalPList sst_iscandft_scfmnom_diag_uncore_serial_12121616_list    {

            GlobalPList sst_iscandft_scfmnom_diag_uncore_serial_ssccfg_12121616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA2_12121616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, EXP_TCLK_P, bclk_buf, PRDY_N] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0021341N4035094_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tpu;
               Pat g0027270N4035095_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tpu;
               Pat g0021345N4035096_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tpu;
               Pat g0039005N4035097_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tpu;
            } # end of sst_iscandft_scfmnom_diag_uncore_serial_ssccfg_12121616_list


            GlobalPList sst_iscandft_scfmnom_diag_uncore_serial_utccfg_12121616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA2_12121616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, EXP_TCLK_P, bclk_buf, PRDY_N] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0021311N4032583_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tpu;
               Pat g0025502N4032584_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tpu;
               Pat g0025313N4032585_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tpu;
               Pat g0021329N4032586_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tpu;
            } # end of sst_iscandft_scfmnom_diag_uncore_serial_utccfg_12121616_list


            GlobalPList sst_iscandft_scfmnom_diag_uncore_serial_utcbyse_12121616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA2_12121616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, EXP_TCLK_P, bclk_buf, PRDY_N] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0025501N4032614_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tpu_UTCBypass;
               Pat g0025443N4032615_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tpu_UTCBypass;
               Pat g0021347N4032616_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tpu_UTCBypass;
               Pat g0025451N4032617_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tpu_UTCBypass;
            } # end of sst_iscandft_scfmnom_diag_uncore_serial_utcbyse_12121616_list

         } # end of sst_iscandft_scfmnom_diag_uncore_serial_12121616_list


         GlobalPList sst_iscandft_scfmnom_diag_uncore_par_12121616_list    {

            GlobalPList sst_iscandft_scfmnom_diag_uncore_par_localchain_12121616_list    {

               GlobalPList sst_iscandft_scfmnom_diag_uncore_par_localchain_nonpcu_12121616_list [PreBurst lfd_pre_2M_vrevA2_12121616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, EXP_TCLK_P, bclk_buf, PRDY_N] {
#               LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
                  Pat g0025444N4032729_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Csrxuutc10;
                  Pat g0021342N4032737_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Gqdfxutc1;
                  Pat g0039588N4032738_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Gqdfxutc1;
                  Pat g0021322N4032740_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Gqdfxutc2;
                  Pat g0024725N4032753_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Chautc1;
                  Pat g0025986N4032761_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt0utc1;
                  Pat g0025452N4032762_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt0utc1;
                  Pat g0038974N4032763_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt0utc1;
                  Pat g0025476N4032764_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt2utc1;
                  Pat g0025788N4032765_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt2utc1;
                  Pat g0025328N4032766_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt2utc1;
                  Pat g0043625N4032767_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt2utc1;
                  Pat g0027326N4032768_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt1utc1;
                  Pat g0026515N4032770_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Tt1utc1;
                  Pat g0025542N4032775_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Ttdfxutc1;
                  Pat g0026146N4032780_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Chfutc1;
                  Pat g0021335N4032781_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Chfutc1;
                  Pat g0025956N4032782_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Chfutc1;
                  Pat g0027060N4032783_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Chfutc1;
               } # end of sst_iscandft_scfmnom_diag_uncore_par_localchain_nonpcu_12121616_list


               GlobalPList sst_iscandft_scfmnom_diag_uncore_par_localchain_pcu_12121616_list [BurstOff]   [PreBurst lfd_pre_2M_vrevA2_12121616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, EXP_TCLK_P, bclk_buf, PRDY_N] {
#               LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
                  Pat g0021353N4032745_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Ptpcuutc1;
                  Pat g0046495N4032746_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Ptpcuutc1;
                  Pat g0024448N4032747_12121616a2x18_MA0cA01NxF_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpu_Ptpcuutc1;
               } # end of sst_iscandft_scfmnom_diag_uncore_par_localchain_pcu_12121616_list

            } # end of sst_iscandft_scfmnom_diag_uncore_par_localchain_12121616_list

         } # end of sst_iscandft_scfmnom_diag_uncore_par_12121616_list

      } # end of sst_iscandft_scfmnom_diag_uncore_12121616_list


      GlobalPList sst_iscandft_scfmnom_diag_core_20201616_list    {

         GlobalPList sst_iscandft_scfmnom_diag_core_serial_20201616_list    {

            GlobalPList sst_iscandft_scfmnom_diag_core_serial_ssccfg_20201616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA2_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct,EXP_TCLK_P,bclk_buf, PRDY_N, PEG_TXP_0, PEG_TXP_5, DMI_TXP_3, PEG_TXP_14] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0027114N4035100_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tma;
               Pat g0021260N4035101_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tma;
               Pat g0021306N4035102_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tma;
               Pat g0024228N4035103_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_ssc_config_chain_tma;
            } # end of sst_iscandft_scfmnom_diag_core_serial_ssccfg_20201616_list


            GlobalPList sst_iscandft_scfmnom_diag_core_serial_utccfg_20201616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA2_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct,EXP_TCLK_P,bclk_buf, PRDY_N, PEG_TXP_0, PEG_TXP_5, DMI_TXP_3, PEG_TXP_14] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0027053N4032578_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tma;
               Pat g0021284N4032579_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tma;
               Pat g0024239N4032580_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tma;
               Pat g0021318N4032581_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_config_chain_tma;
            } # end of sst_iscandft_scfmnom_diag_core_serial_utccfg_20201616_list


            GlobalPList sst_iscandft_scfmnom_diag_core_serial_utcbyse_20201616_list [BurstOff]  [PreBurst lfd_pre_2M_vrevA2_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct,EXP_TCLK_P,bclk_buf, PRDY_N, PEG_TXP_0, PEG_TXP_5, DMI_TXP_3, PEG_TXP_14] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0021312N4032610_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tma_UTCBypass;
               Pat g0024541N4032611_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tma_UTCBypass;
               Pat g0026881N4032613_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_ser_tma_UTCBypass;
            } # end of sst_iscandft_scfmnom_diag_core_serial_utcbyse_20201616_list

         } # end of sst_iscandft_scfmnom_diag_core_serial_20201616_list


         GlobalPList sst_iscandft_scfmnom_diag_core_par_20201616_list    {

            GlobalPList sst_iscandft_scfmnom_diag_core_par_utcbypa_20201616_list [PreBurst lfd_pre_2M_vrevA2_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, TDO, EXP_TCLK_P, bclk_buf, PRDY_N] {
#            LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
               Pat g0021326N4032618_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_par_tpr_UTCBypass;
               Pat g0025510N4032619_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_par_tpr_UTCBypass;
               Pat g0025582N4032620_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_utc_bypass_global_par_tpr_UTCBypass;
            } # end of sst_iscandft_scfmnom_diag_core_par_utcbypa_20201616_list


            GlobalPList sst_iscandft_scfmnom_diag_core_par_localchain_20201616_list    {

               GlobalPList sst_iscandft_scfmnom_diag_core_par_localchain_nonpcu_20201616_list [PreBurst lfd_pre_2M_vrevA2_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask vid_bus_wo_vcct, TDO, EXP_TCLK_P, bclk_buf, PRDY_N] {
#               LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
                  Pat g0025821N4032624_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_pmsutc1;
                  Pat g0026139N4032625_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_pmsutc1;
                  Pat g0024234N4032626_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_pmsutc1;
                  Pat g0039007N4032627_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_pmsutc1;
                  Pat g0034431N4032628_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc1;
                  Pat g0026542N4032629_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc1;
                  Pat g0026838N4032630_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc1;
                  Pat g0026179N4032631_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc1;
                  Pat g0024898N4032632_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc2;
                  Pat g0026007N4032633_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc2;
                  Pat g0024455N4032634_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc2;
                  Pat g0026056N4032635_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mlsutc2;
                  Pat g0034403N4032640_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_molutc1;
                  Pat g0024241N4032641_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_molutc1;
                  Pat g0024715N4032642_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_molutc1;
                  Pat g0024823N4032643_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_molutc1;
                  Pat g0025941N4032644_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dcrutc1;
                  Pat g0026643N4032645_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dcrutc1;
                  Pat g0025629N4032646_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dcrutc1;
                  Pat g0026488N4032647_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dcrutc1;
                  Pat g0025922N4032648_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dtcutc1;
                  Pat g0028563N4032649_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dtcutc1;
                  Pat g0024378N4032650_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dtcutc1;
                  Pat g0021334N4032651_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_dtcutc1;
                  Pat g0027281N4032652_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mosutc1;
                  Pat g0024972N4032653_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mosutc1;
                  Pat g0021298N4032655_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mosutc1;
                  Pat g0034358N4032656_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_agdutc1;
                  Pat g0034338N4032657_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_agdutc1;
                  Pat g0025624N4032658_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_agdutc1;
                  Pat g0025685N4032659_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_agdutc1;
                  Pat g0025904N4032660_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ieuutc1;
                  Pat g0025589N4032661_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ieuutc1;
                  Pat g0025424N4032662_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ieuutc1;
                  Pat g0034416N4032663_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ieuutc1;
                  Pat g0045618N4032664_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_siputc1;
                  Pat g0026067N4032665_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_siputc1;
                  Pat g0025885N4032666_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_siputc1;
                  Pat g0026688N4032667_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_siputc1;
                  Pat g0032550N4032668_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_fpwutc1;
                  Pat g0045615N4032669_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_fpwutc1;
                  Pat g0024238N4032670_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_fpwutc1;
                  Pat g0025837N4032671_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_fpwutc1;
                  Pat g0030911N4032672_20201616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_rocutc1;
                  Pat g0024487N4032674_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_rocutc1;
                  Pat g0024426N4032675_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_rocutc1;
                  Pat g0027385N4032676_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_roeutc1;
                  Pat g0021323N4032677_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_roeutc1;
                  Pat g0025188N4032678_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_roeutc1;
                  Pat g0025160N4032679_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_roeutc1;
                  Pat g0025554N4032680_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_racutc1;
                  Pat g0043570N4032681_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_racutc1;
                  Pat g0025508N4032682_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_racutc1;
                  Pat g0025350N4032683_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_racutc1;
                  Pat g0024237N4032684_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_aldutc1;
                  Pat g0025397N4032685_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_aldutc1;
                  Pat g0027234N4032686_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_aldutc1;
                  Pat g0021497N4032687_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_aldutc1;
                  Pat g0027301N4032688_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mscutc1;
                  Pat g0026976N4032689_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mscutc1;
                  Pat g0025994N4032690_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mscutc1;
                  Pat g0025803N4032691_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_mscutc1;
                  Pat g0024250N4032692_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ideutc1;
                  Pat g0032573N4032693_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ideutc1;
                  Pat g0024231N4032694_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ideutc1;
                  Pat g0025750N4032695_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ideutc1;
                  Pat g0034444N4032696_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_iqcutc1;
                  Pat g0025882N4032697_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_iqcutc1;
                  Pat g0025677N4032698_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_iqcutc1;
                  Pat g0025709N4032699_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_iqcutc1;
                  Pat g0025739N4032700_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bacutc1;
                  Pat g0025857N4032701_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bacutc1;
                  Pat g0024230N4032702_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bacutc1;
                  Pat g0025798N4032703_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bacutc1;
                  Pat g0038862N4032704_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ilgutc1;
                  Pat g0025878N4032705_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ilgutc1;
                  Pat g0026283N4032706_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ilgutc1;
                  Pat g0045617N4032707_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ilgutc1;
                  Pat g0024227N4032708_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifcrutc1;
                  Pat g0026281N4032709_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifcrutc1;
                  Pat g0024259N4032710_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifcrutc1;
                  Pat g0024615N4032711_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifcrutc1;
                  Pat g0026774N4032712_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifctutc1;
                  Pat g0024846N4032713_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifctutc1;
                  Pat g0027265N4032714_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifctutc1;
                  Pat g0025474N4032715_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_ifctutc1;

               } # end of sst_iscandft_scfmnom_diag_core_par_localchain_nonpcu_20201616_list


               GlobalPList sst_iscandft_scfmnom_diag_core_par_localchain_pcu_20201616_list [BurstOff]   [PreBurst lfd_pre_2M_vrevA2_20201616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask vid_bus_wo_vcct, TDO, EXP_TCLK_P, bclk_buf, PRDY_N] {
#               LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
                  Pat g0025164N4032716_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bpcutc1;
                  Pat g0025398N4032717_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bpcutc1;
                  Pat g0025042N4032718_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bpcutc1;
                  Pat g0045616N4032719_20201616a2x18_MA0cA01NxE_2bxx2eC_4x0xxxpxx0xxx_local_chain_tpr_bpcutc1;
               } # end of sst_iscandft_scfmnom_diag_core_par_localchain_pcu_20201616_list

            } # end of sst_iscandft_scfmnom_diag_core_par_localchain_20201616_list

         } # end of sst_iscandft_scfmnom_diag_core_par_20201616_list

      } # end of sst_iscandft_scfmnom_diag_core_20201616_list

   		GlobalPList sst_iscandft_scfmnom_diag_iio_xx161616_list  {
      		    GlobalPList sst_iscandft_scfmnom_diag_iio_bankmode_xx161616_list  {
#         LRS_VCFINFO: utype=cmt vrev=vrevA3 mode=6g8m vectype=slowst
			Pat d0049545N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049557N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049559N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049561N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049562N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049563N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049564N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049568N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049571N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049572N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049545N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049557N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049559N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049561N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049562N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049563N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049564N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049568N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049571N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
			Pat d0049572N0999998_xx161616i2x11_MA0aA06TxY_2bxx2eD_0x0xxxpxx0xxx_iio_scan_sch_a0_rtl_tapein_rev00_ba;
                     } # enf of sst_iscandft_scfmnom_diag_iio_bankmode_xx161616_list

          } # end of sst_iscandft_scfmnom_diag_iio_xx161616_list

   } # end of sst_iscandft_list

} # end of scan_list

