Version 1.0;

GlobalPList fft_tap_hfmmin_16161616_list    {

   GlobalPList tapbypass_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask mbp, vid_bus, bclk_buf, pxp_ins, pxp_outs, IIOTDO, XDPRDYREQN_N, ocp_data, ocp_stb, allpins_wo_tap, CPU_RESETO_N] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0030777N4337886_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_tap_bypass;
   } # end of tapbypass_hfmmin_16161616_list


   GlobalPList taplock_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask mbp, vid_bus, bclk_buf, pxp_ins, pxp_outs, IIOTDO, XDPRDYREQN_N, ocp_data, ocp_stb, allpins_wo_tap, CPU_RESETO_N] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0030693N4750758_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_tap_lock;
   } # end of taplock_hfmmin_16161616_list

#add by ttan4, exclude poc test from fft_tap_hfmmin_16161616_list
} # end of fft_tap_hfmmin_16161616_list

   GlobalPList poc_hfmmin_16161616_list    {

      GlobalPList poc_hfmmin_pociout1010_hfmmin_16161616_list [PreBurst pociout1010_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask mbp, bclk_buf, pcie_txp, dmi_txp, IIOTDO] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
         Pat g0030992N4749150_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_poctest_special_10101101;
      } # end of poc_hfmmin_pociout1010_hfmmin_16161616_list


      GlobalPList poc_hfmmin_pociout0101_hfmmin_16161616_list [PreBurst pociout0101_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask mbp, bclk_buf, pcie_txp, dmi_txp, IIOTDO] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
         Pat g0030772N4749133_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_poctest_default_01010010;
      } # end of poc_hfmmin_pociout0101_hfmmin_16161616_list

   } # end of poc_hfmmin_16161616_list

#mask by ttan4, exclude poc test from fft_tap_hfmmin_16161616_list
#} # end of fft_tap_hfmmin_16161616_list

