Version 1.0;

GlobalPList reset_list    {

   GlobalPList reset_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_funzl_sdr_0] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=sdr
      Pat g0041339N4001704_16161616a2x18_MA0cA01Ixe_2txx22C_4x0xxxpxx0xxx_simple_reset;
   } # end of reset_hfmmin_16161616_list

} # end of reset_list

