Version 1.0;


   GlobalPList chipontiu_list {

   GlobalPList smbinitcheck_hfmnom_12121212_list {
      Pat g2641496N0001094_xxxxxxxxxxx_GB06ixB_2xx2xx_xxxxxxxxxxxxxxxxxx_chip1_WrIDCF12_WrBCF12_EMC1043_NORM;
   }

   GlobalPList smbSOT_hfmnom_12121212_list {
      Pat g2641496N0001095_xxxxxxxxxxx_GB06ixB_2xx2xx_xxxxxxxxxxxxxxxxxx_sot_dietemp_startup_emc1043_NORM;
   }

   GlobalPList smbflow_hfmnom_12121212_list {
      Pat g2641496N0001098_xxxxxxxxxxx_GB06ixB_2xx2xx_xxxxxxxxxxxxxxxxxx_flow_dietemp_emc1043_NORM;
   }

   GlobalPList asicemc_hfmnom_12121212_list {
      Pat g2641496N0001097_xxxxxxxxxxx_GB06ixB_2xx2xx_xxxxxxxxxxxxxxxxxx_flow_ASIC_emc1043_NORM;
   }
   GlobalPList standbyemc_hfmnom_12121212_list {
      Pat g2641496N0001096_xxxxxxxxxxx_GB06ixB_2xx2xx_xxxxxxxxxxxxxxxxxx_Standby_emc1043_NORM;
   }
   GlobalPList TIUemc_hfmnom_12121212_list {
      Pat g2641496N0001093_xxxxxxxxxxx_GB06ixB_2xx2xx_xxxxxxxxxxxxxxxxxx_sot_TIU_emc1043_NORM;
   }

} # end of chipontiu 

