Version 1.0;

GlobalPList dts_list    {

   GlobalPList bgreftrim_hfmnom_16161616_list [PreBurst dts_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask mbp, bclk_buf, vid_bus, PRDY_N, pxp_outs] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0030810N4955838_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_plldbg_x9_bgr_cU132I0TtMpX0X1_trim;
   } # end of bgreftrim_hfmnom_16161616_list


   GlobalPList cattrim_hfmnom_16161616_list [PreBurst dts_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask mbp, bclk_buf, vid_bus, PRDY_N, pxp_outs] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0046808N4955836_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_dts_cattrp_dac32_status_trim;
   } # end of cattrim_hfmnom_16161616_list


   GlobalPList dtstrim_hfmnom_16161616_list [PreBurst dts_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask mbp, bclk_buf, vid_bus, PRDY_N, pxp_outs] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0044603N4955837_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_dts_curtemp_status_trim;
   } # end of dtstrim_hfmnom_16161616_list


   GlobalPList dtstrim_eco612176_hfmnom_16161616_list [PreBurst dts_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask mbp, bclk_buf, vid_bus, PRDY_N, pxp_outs] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0044635N4955835_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_dts_TrimTemp_TrigBit_CurTemp;
   } # end of dtstrim_eco612176_hfmnom_16161616_list


   GlobalPList cattrim_eco612176_hfmnom_16161616_list [PreBurst dts_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask mbp, bclk_buf, vid_bus, PRDY_N, pxp_outs] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0046197N4955833_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_dts_CatDACx64_status_HBitExtTrim;
   } # end of cattrim_eco612176_hfmnom_16161616_list


   GlobalPList sigdelta_hfmnom_16161616_list [PreBurst dts_lfd_pre_2M_vrevA2_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0][Mask mbp, bclk_buf, vid_bus, PRDY_N, pxp_outs] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=slowst
      Pat g0044607N4955834_16161616a2x18_MA0cA01NxB_2bxx2eC_4x0xxxpxx0xxx_dts_SigDelta_ROclk2_HiLoVref;
   } # end of sigdelta_hfmnom_16161616_list

} # end of dts_list

