Version 1.0;

GlobalPList sb_aciolb_16161616_list    {

   GlobalPList sb_aciolb_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_1ttx21_6g8m_funfn_sdr_0] [Mask MBP_2_N, tap_pins_wo_TDO, bclk] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=sdr
      Pat d0032451N4955295_16161616a2x18_MA0cA01Rxg_2txx22F_4x0xxxpxx0xxx_sb_cc_aciolb;
   } # end of sb_aciolb_hfmnom_16161616_list

} # end of sb_aciolb_16161616_list

