Version 1.0;

GlobalPList st_mciloopback_16161616_list    {

   GlobalPList st_mciloopback_core_16161616_list    {

      GlobalPList st_mciloopback_core_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0030902N4036895_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_slowst_loopback_pmatchall;
      } # end of st_mciloopback_core_hfmnom_16161616_list

   } # end of st_mciloopback_core_16161616_list


   GlobalPList st_mciloopback_uncore_16161616_list    {

      GlobalPList st_mciloopback_uncore_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0030731N4036896_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_slowst_basicloopback;
      } # end of st_mciloopback_uncore_hfmnom_16161616_list

   } # end of st_mciloopback_uncore_16161616_list

} # end of st_mciloopback_16161616_list

