Version 1.0;



GlobalPList min_pats  {
	GlobalPList IBIST_ACIOLB_ddr_5555_mode0_0106j_list [Mask ALL_MASK_PINs_CWA, BR0nn, BPM3t0nn_0, BPM_2_3t0nn_0]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_j_N_B2_619b_j_f_t_0_h_0_f2_iosbft_0_x]  {
		Pat s1749951M005317_010604j_NB2619bj_0ftxsx0xshr04xxxxxPmoxQ0_IBIST_ACIOLB_iosbft_5555_J_OBR1;
	}
	GlobalPList IBIST_ACIOLB_ddr_5555_mode0_0106n_list [Mask ALL_MASK_PINs_CWA, BR0nn, BPM3t0nn_0, BPM_2_3t0nn_0]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_n_N_B2_619b_j_f_t_0_h_0_f2_iosbft_0_x]  {
		Pat s1749957M005317_010604n_NB2619bj_0ftxsx0xshr04xxxxxPmoxQ0_IBIST_ACIOLB_iosbft_5555_J_OBR1;
	}
	GlobalPList IBIST_ACIOLB_ddr_5555_mode1_0106j_list [Mask ALL_MASK_PINs_CWA, BR0nn, BPM3t0nn_0, BPM_2_3t0nn_0]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_j_N_B2_619b_j_f_t_0_h_1_f2_iosbft_0_x]  {
		Pat s1774379M005317_010604j_NB2619bj_0ftxsx0xshr12xxxxxPmoxQ0_IBIST_ACIOLB_iosbft_5555_J_OBR1;
	}
	GlobalPList IBIST_ACIOLB_ddr_5555_mode1_0106n_list [Mask ALL_MASK_PINs_CWA, BR0nn, BPM3t0nn_0, BPM_2_3t0nn_0]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_n_N_B2_619b_j_f_t_0_h_1_f2_iosbft_0_x]  {
		Pat s1773964M005317_010604n_NB2619bj_0ftxsx0xshr12xxxxxPmoxQ0_IBIST_ACIOLB_iosbft_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_5555_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796815Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_5555_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796816Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_5555_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796899Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_5555_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796900Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_AAAA_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796819Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_AAAA_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796820Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_AAAA_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796901Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_AAAA_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796902Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all0_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796811Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all0_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796813Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all0_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796897Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all0_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796898Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all1_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796774Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all1_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796810Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_receiver_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all1_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796887Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_receiver_all1_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796895Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_receiver_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_5555_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796827Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_5555_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796828Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_5555_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796907Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_5555_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796908Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_5555_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_AAAA_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796830Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_AAAA_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796831Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_AAAA_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796909Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_AAAA_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796910Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_AAAA_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all0_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796824Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all0_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796825Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all0_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796905Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all0_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796906Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all0_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all1_mode0_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796822Y003456_010604b_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all1_mode0_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_0_f2_reg_0_x]  {
		Pat s1796823Y003456_010604d_NB2619bj_0fxxxx0xhhr04xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all1_mode1_0106b_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_b_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796903Y003456_010604b_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all1_J_OBR1;
	}
	GlobalPList IBIST_ddr_full_transmitter_WA_all1_mode1_0106d_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, A16t3nn_16, A16t3nn_13]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_d_N_B2_619b_j_f_x_0_h_1_f2_reg_0_x]  {
		Pat s1796904Y003456_010604d_NB2619bj_0fxxxx0xhhr12xxxxxPmrxQ0_IBIST_ddr_full_transmitter_WA_all1_J_OBR1;
	}
	GlobalPList IDV_00_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat s1854719M005097_010604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_IDV_00_OBR1;
	}
	GlobalPList IDV_00_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854720M005097_011004c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_IDV_00_OBR1;
	}
	GlobalPList IDV_01_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat s1854721M005098_010604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_IDV_01_OBR1;
	}
	GlobalPList IDV_01_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854722M005098_011004c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_IDV_01_OBR1;
	}
	GlobalPList IDV_15_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat s1854723M005100_010604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_IDV_15_OBR1;
	}
	GlobalPList IDV_15_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854724M005100_011004c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_IDV_15_OBR1;
	}
	GlobalPList agu_adder_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844441M011747_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_agu_adder_bist_OBR1;
	}
	GlobalPList agu_adder_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844916M011747_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_agu_adder_bist_OBR1;
	}
	GlobalPList agu_fppla_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844442M011748_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_agu_fppla_bist_OBR1;
	}
	GlobalPList agu_fppla_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844917M011748_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_agu_fppla_bist_OBR1;
	}
	GlobalPList bd_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1845313M010443_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode0_0110a_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1845315M010443_011002a_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode0_0112c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1845314M010443_011202c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode0_0114c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1845316M010443_011402c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode0_0118c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1845317M010443_011802c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1847000M010443_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode1_0110a_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1847001M010443_011002a_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode1_0112c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1906932M010443_011202c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode1_0114c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1847002M010443_011402c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bd_mode1_0118c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1847003M010443_011802c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_braindeadJ_OBR1;
	}
	GlobalPList bist_c0_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844410M009971_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_c0_l2wa_OBR1;
	}
	GlobalPList bist_c0_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844883M009971_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_c0_l2wa_OBR1;
	}
	GlobalPList bist_c1_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844411M009972_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_c1_l2wa_OBR1;
	}
	GlobalPList bist_c1_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844884M009972_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_c1_l2wa_OBR1;
	}
	GlobalPList bist_dc_nohw_AGU_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844434M011695_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_AGU_OBR1;
	}
	GlobalPList bist_dc_nohw_AGU_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844909M011695_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_AGU_OBR1;
	}
	GlobalPList bist_dc_nohw_DCU_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844433M011694_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_DCU_OBR1;
	}
	GlobalPList bist_dc_nohw_DCU_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844908M011694_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_DCU_OBR1;
	}
	GlobalPList bist_dc_nohw_dtlb_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844435M011696_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_dtlb_OBR1;
	}
	GlobalPList bist_dc_nohw_dtlb_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844910M011696_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_dtlb_OBR1;
	}
	GlobalPList bist_dc_nohw_fau_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844436M011697_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_fau_OBR1;
	}
	GlobalPList bist_dc_nohw_fau_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844911M011697_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_fau_OBR1;
	}
	GlobalPList bist_dc_nohw_macro_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844440M011701_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_macro_OBR1;
	}
	GlobalPList bist_dc_nohw_macro_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844915M011701_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_macro_OBR1;
	}
	GlobalPList bist_dc_nohw_mob_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844437M011698_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_mob_OBR1;
	}
	GlobalPList bist_dc_nohw_mob_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844912M011698_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_mob_OBR1;
	}
	GlobalPList bist_dc_nohw_noMSROM_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844432M011693_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_noMSROM_OBR1;
	}
	GlobalPList bist_dc_nohw_noMSROM_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844907M011693_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_noMSROM_OBR1;
	}
	GlobalPList bist_dc_nohw_pfp_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844438M011699_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_pfp_OBR1;
	}
	GlobalPList bist_dc_nohw_pfp_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844913M011699_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_pfp_OBR1;
	}
	GlobalPList bist_dc_nohw_simd_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844439M011700_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_nohw_simd_OBR1;
	}
	GlobalPList bist_dc_nohw_simd_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844914M011700_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_nohw_simd_OBR1;
	}
	GlobalPList bist_dualcore_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844412M009973_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dualc_OBR1;
	}
	GlobalPList bist_dualcore_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844885M009973_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dualc_OBR1;
	}
	GlobalPList bpu_array_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844443M011749_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bpu_array_bist_OBR1;
	}
	GlobalPList bpu_array_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844918M011749_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bpu_array_bist_OBR1;
	}
	GlobalPList dcu_bist_patch_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844444M011750_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_dcu_bist_patch_OBR1;
	}
	GlobalPList dcu_bist_patch_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844919M011750_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_dcu_bist_patch_OBR1;
	}
	GlobalPList dft_idcode_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat g1854737H003045_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_dft_idcode_OBR1;
	}
	GlobalPList dft_idcode_0110c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat g1854738H003045_011004c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_dft_idcode_OBR1;
	}
	GlobalPList dft_idcode_ctv_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat g1857326H003045_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_dft_idcode_ctv_OBR1;
	}
	GlobalPList dft_idcode_ctv_0110c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat g1857327H003045_011004c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_dft_idcode_ctv_OBR1;
	}
	GlobalPList dicc_powervirus1_modea_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854725M005307_010604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm1_cmp_OBR1;
	}
	GlobalPList dicc_powervirus1_modea_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854726M005307_011004c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm1_cmp_OBR1;
	}
	GlobalPList dicc_powervirus1_modea_0116c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011616_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854727M005307_011604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm1_cmp_OBR1;
	}
	GlobalPList dicc_powervirus1_modea_0118c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011818_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854728M005307_011804c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm1_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_modea_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854729M005314_010604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm4_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_modea_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854730M005314_011004c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm4_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_modea_0116c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011616_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854731M005314_011604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm4_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_modea_0118c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011818_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854732M005314_011804c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm4_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_mrm6nc_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854733M011829_010604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm6nc_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_mrm6nc_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854734M011829_011004c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm6nc_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_mrm6nc_0116c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011616_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854735M011829_011604c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm6nc_cmp_OBR1;
	}
	GlobalPList dicc_powervirus_mrm6nc_0118c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011818_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854736M011829_011804c_MB2619bj_0fwxxx0xhhcx0xxxxxPfrxQ0_Power_Virus_mrm6nc_cmp_OBR1;
	}
	GlobalPList digital_readout_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1627502M004033_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_digital_063_063_063_060_a2d01_si1_OBR1;
	}
	GlobalPList digital_readout_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1718428M004033_011004c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_digital_063_063_063_060_a2d01_si1_OBR1;
	}
	GlobalPList dtlb_array_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844445M011751_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_dtlb_array_bist_OBR1;
	}
	GlobalPList dtlb_array_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844920M011751_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_dtlb_array_bist_OBR1;
	}
	GlobalPList dualc_bist_bypass_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1845319M011692_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_dualc_bist_bypass_J_OBR1;
	}
	GlobalPList dualc_bist_bypass_mode0_0108c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010808_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1845320M011692_010802c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_dualc_bist_bypass_J_OBR1;
	}
	GlobalPList dualc_bist_bypass_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1847005M011692_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_dualc_bist_bypass_J_OBR1;
	}
	GlobalPList dualc_bist_bypass_mode1_0108c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010808_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1847006M011692_010802c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_dualc_bist_bypass_J_OBR1;
	}
	GlobalPList duty_cycle_read_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1844429M010454_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_duty_cycle_read_OBR1;
	}
	GlobalPList duty_cycle_read_mode0_0116c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  {
		Pat s1844430M010454_011604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_duty_cycle_read_OBR1;
	}
	GlobalPList duty_cycle_read_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1844903M010454_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_duty_cycle_read_OBR1;
	}
	GlobalPList duty_cycle_read_mode1_0116c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1844905M010454_011604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_duty_cycle_read_OBR1;
	}
	GlobalPList ex_bist_c0_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844413M009975_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_c0_cr_OBR1;
	}
	GlobalPList ex_bist_c0_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844886M009975_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_c0_cr_OBR1;
	}
	GlobalPList ex_bist_c1_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844414M009974_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_c1_cr_OBR1;
	}
	GlobalPList ex_bist_c1_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844887M009974_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_c1_cr_OBR1;
	}
	GlobalPList ex_bist_dualcore_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844415M009976_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_bist_dc_cr_OBR1;
	}
	GlobalPList ex_bist_dualcore_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844888M009976_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_bist_dc_cr_OBR1;
	}
	GlobalPList fau_fmu_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844446M011752_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_fau_fmu_bist_OBR1;
	}
	GlobalPList fau_fmu_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844921M011752_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_fau_fmu_bist_OBR1;
	}
	GlobalPList fsbsel_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1845318M010453_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_bsel_J_OBR1;
	}
	GlobalPList fsbsel_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1847004M010453_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_bsel_J_OBR1;
	}
	GlobalPList fuse_read_A00h_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845327M012248_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fuserA00h_OBR1;
	}
	GlobalPList fuse_read_A00h_mode1_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1847014M012248_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fuserA00h_OBR1;
	}
	GlobalPList fuse_read_A22h_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845325M012244_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fuserA22h_OBR1;
	}
	GlobalPList fuse_read_A22h_mode1_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1847012M012244_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fuserA22h_OBR1;
	}
	GlobalPList fuse_read_A_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845323M009969_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fuserA_OBR1;
	}
	GlobalPList fuse_read_A_mode1_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1847009M009969_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fuserA_OBR1;
	}
	GlobalPList fuse_read_B22h_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845326M012245_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fuserB22h_OBR1;
	}
	GlobalPList fuse_read_B22h_mode1_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1847013M012245_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fuserB22h_OBR1;
	}
	GlobalPList fuse_read_B_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845324M009970_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fuserB_OBR1;
	}
	GlobalPList fuse_read_B_mode1_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1847011M009970_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fuserB_OBR1;
	}
	GlobalPList fuse_write_A_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845328M010450_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fusewA_OBR1;
	}
	GlobalPList fuse_write_A_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1847015M010450_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fusewA_OBR1;
	}
	GlobalPList fuse_write_B_mode0_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  {
		Pat s1845329M010451_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_fusewB_OBR1;
	}
	GlobalPList fuse_write_B_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  {
		Pat s1847016M010451_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_fusewB_OBR1;
	}
	GlobalPList hvbi_dualc_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844416M009977_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_mull_bist_OBR1;
	}
	GlobalPList hvbi_dualc_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844889M009977_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_mull_bist_OBR1;
	}
	GlobalPList ifu_cache_array_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844447M011753_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_ifu_cache_array_bist_OBR1;
	}
	GlobalPList ifu_cache_array_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844922M011753_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_ifu_cache_array_bist_OBR1;
	}
	GlobalPList leakage_0106c_list [Mask ALL_MASK_PINs_CWA, dft_clk]  [BurstOff]  {
		Pat s1847280M010442_010602c_NB2619bj_0fxfxx0xxhca1xxxxxPfrxQ0_iddq_J_OBR1;
	}
	GlobalPList macro_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844448M011754_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_macro_bist_OBR1;
	}
	GlobalPList macro_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844923M011754_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_macro_bist_OBR1;
	}
	GlobalPList mob_array_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844449M011758_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_mob_array_bist_OBR1;
	}
	GlobalPList mob_array_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844924M011758_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_mob_array_bist_OBR1;
	}
	GlobalPList mob_control_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844450M011755_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_mob_control_bist_OBR1;
	}
	GlobalPList mob_control_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844925M011755_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_mob_control_bist_OBR1;
	}
	GlobalPList open_short_0106c_list [Mask ALL_MASK_PINs_CWA_os]  [BurstOff]  {
		Pat s0563008M000000_010604c_NB0548aj_0xxxxx0xxaxxxxxxxxxxxxxx_open_short_OBR1;
	}
	GlobalPList peci_d_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1607768M010341_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_peci_ping_test_42bs_OBR1;
		Pat d1608792M010489_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_peci_ping_in_alstall_test_84kbs_OBR1;
		Pat d1611958M010343_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_peci_ping_test_84bs_OBR1;
	}
	GlobalPList peci_d_qc_0106c_list [Mask ALL_MASK_PINs_CWA, TDO, TDO_2]  [BurstOff]  [PreBurst cwma_pre_vrevN4_P_010606_c_N_B1_607d_j_x_x_0_h_q_f1_reg_0_x]  {
		Pat d1733872M011173_010604c_NB1607dj_0xxxxx0xhhcq0xxxxxPfrxN4_quad_core_peci_ping42_OBR1;
		Pat d1750536M011287_010604c_NB1607dj_0xxxxx0xhhcq0xxxxxPfrxN4_quad_core_peci_ping84_OBR1;
	}
	GlobalPList peci_get_temp1_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1636634M010602_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_peci_get_temp1_combination2_hrc_OBR1;
	}
	GlobalPList pfp_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844451M011756_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_pfp_bist_OBR1;
	}
	GlobalPList pfp_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844926M011756_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_pfp_bist_OBR1;
	}
	GlobalPList read_iocal_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844431M010452_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_read_iocal_data_OBR1;
	}
	GlobalPList read_iocal_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844906M010452_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_read_iocal_data_OBR1;
	}
	GlobalPList scan_0108c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010808_c_M_B1_607d_j_x_n_x_x_x_f1scan_reg_0_x]  {
		Pat g1123667M011607_010802c_MB1607dj_0xnxaaxxxxxx7xxxxxPcrxQ0_bls_island_single;
		Pat g1123732M011608_010802c_MB1607dj_0xnxaaxxxxxx7xxxxxPcrxQ0_bls_island_nocapture;
		Pat g1123790M011609_010802c_MB1607dj_0xnxaaxxxxxx7xxxxxPcrxQ0_bls_island_multi;
	}
	GlobalPList scan_chain_0108c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010808_c_M_B1_607d_j_x_n_x_x_x_f1scan_reg_0_x]  {
		Pat g1122698M011610_010802c_MB1607dj_0xnxaaxxxxxx7xxxxxPcrxQ0_bls_island_chain;
	}
	GlobalPList sicc_deepsleep_cmp_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854717M005296_010604c_MB2619bj_0fwxxx0xhhcx7xxxxxPfrxQ0_deep_sleep_cmp_OBR1;
	}
	GlobalPList sicc_deepsleep_cmp_0110c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_w_0_h_x_f1_reg_0_x]  {
		Pat d1854718M005296_011004c_MB2619bj_0fwxxx0xhhcx7xxxxxPfrxQ0_deep_sleep_cmp_OBR1;
	}
	GlobalPList simd_bist_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s1844452M011757_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_simd_bist_OBR1;
	}
	GlobalPList simd_bist_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s1844927M011757_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_simd_bist_OBR1;
	}
	GlobalPList thermal_sensor_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1615015M004001_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_sensor_000_000_000_000_OBR1;
	}
	GlobalPList thermal_sensor_0110c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1656194M004001_011004c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_sensor_000_000_000_000_OBR1;
	}
	GlobalPList thermal_sensor_cat_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1614633M004020_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_catastrofic_031_031_031_060_OBR1;
	}
	GlobalPList thermal_sensor_cat_0110c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_011010_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1665209M004020_011004c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_catastrofic_031_031_031_060_OBR1;
	}
	GlobalPList thermal_sensor_unf_0106c_list [Mask ALL_MASK_PINs_CWA]  [PreBurst cwma_pre_vrevQ0_P_010606_c_M_B2_619b_j_f_x_0_h_x_f1_reg_0_x]  {
		Pat d1664522M010718_010604c_MB2619bj_0fxxxx0xhhcx0xxxxxPfrxQ0_sensor_par_05x_000_000_5_OBR1;
	}
	GlobalPList vix_bscan_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s2094747M010357_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_all0_J_OBR2;
		Pat s2094748M010358_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_all1_J_OBR2;
		Pat s2094749M010359_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_AAAA_J_OBR2;
		Pat s2094750M010360_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_5555_J_OBR2;
		Pat s2094751M011161_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_rcomp0_all0_J_OBR2;
		Pat s2094752M011162_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_rcomp0_all1_J_OBR2;
		Pat s2094753M011163_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_rcomp0_AAAA_J_OBR2;
		Pat s2094754M011164_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_samplepreload_rcomp0_5555_J_OBR2;
	}
	GlobalPList vix_bscan_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s2094777M010357_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_all0_J_OBR2;
		Pat s2094778M010358_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_all1_J_OBR2;
		Pat s2094779M010359_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_AAAA_J_OBR2;
		Pat s2094780M010360_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_5555_J_OBR2;
		Pat s2094781M011161_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_rcomp0_all0_J_OBR2;
		Pat s2094782M011162_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_rcomp0_all1_J_OBR2;
		Pat s2094783M011163_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_rcomp0_AAAA_J_OBR2;
		Pat s2094784M011164_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_samplepreload_rcomp0_5555_J_OBR2;
	}
	GlobalPList vix_highz_bscan_modeA_0106c_list [Mask ALL_MASK_PINs_CWA]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_a_f1_reg_0_x]  {
		Pat s1847281M010361_010604c_NB2619bj_0fxxxx0xhhca1xxxxxPfrxQ0_samplepreload_highz_all0_J_OBR1;
		Pat s1847282M010362_010604c_NB2619bj_0fxxxx0xhhca1xxxxxPfrxQ0_samplepreload_highz_all1_J_OBR1;
		Pat s1847283M010363_010604c_NB2619bj_0fxxxx0xhhca1xxxxxPfrxQ0_samplepreload_highz_AAAA_J_OBR1;
		Pat s1847284M010364_010604c_NB2619bj_0fxxxx0xhhca1xxxxxPfrxQ0_samplepreload_highz_5555_J_OBR1;
	}
	GlobalPList vox_isvm_bscan_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s2094743M010353_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_extest_all0_J_OBR2;
	}
	GlobalPList vox_bscan_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
#jhong4		Pat s2094743M010353_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_extest_all0_J_OBR2;
		Pat s2094744M010354_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_extest_all1_J_OBR2;
		Pat s2094745M010355_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_extest_AAAA_J_OBR2;
		Pat s2094746M010356_010604c_NB2619bj_0fxxxx0xhhc04xxxxxPfrxQ0_extest_5555_J_OBR2;
	}
	GlobalPList vox_isvm_bscan_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s2094773M010353_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_extest_all0_J_OBR2;
	}
	GlobalPList vox_bscan_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
#jhong4		Pat s2094773M010353_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_extest_all0_J_OBR2;
		Pat s2094774M010354_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_extest_all1_J_OBR2;
		Pat s2094775M010355_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_extest_AAAA_J_OBR2;
		Pat s2094776M010356_010604c_NB2619bj_0fxxxx0xhhc12xxxxxPfrxQ0_extest_5555_J_OBR2;
	}
	GlobalPList vox_dynODT_all0_bscan_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s2094755M010465_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_extest_dynODT_all0_J_OBR2;
	}
	GlobalPList vox_dynODT_all0_bscan_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s2094785M010465_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_extest_dynODT_all0_J_OBR2;
	}
	GlobalPList vox_dynODT_all1_bscan_mode0_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_0_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_0_f1_reg_0_x]  {
		Pat s2094756M010466_010602c_NB2619bj_0fxfxx0xxhc04xxxxxPfrxQ0_extest_dynODT_all1_J_OBR2;
	}
	GlobalPList vox_dynODT_all1_bscan_mode1_0106c_list [Mask ALL_MASK_PINs_CWA, Mode_1_pin_masked, PECI]  [BurstOff]  [PreBurst cwma_pre_vrevQ0_P_010606_c_N_B2_619b_j_f_x_0_h_1_f1_reg_0_x]  {
		Pat s2094786M010466_010602c_NB2619bj_0fxfxx0xxhc12xxxxxPfrxQ0_extest_dynODT_all1_J_OBR2;
	}
}
