vti_encoding:SR|utf8-nl
http\://dpgsites.png.intel.com/sites/dpg-pde-pg/deg_oap_cpu/default.aspx:oop.htm
http\://dpgsites.png.intel.com/sites/dpg-pde-pg/deg_oap_cpu/org_dev/shared documents/web docs/oop.xls:oop.htm
http\://dpgsites.png.intel.com/sites/dpg-pde-pg/deg_oap_cpu/contact/default.aspx:oop.htm
circuit/images/upcoming.gif:stylesheet.css
circuit/images/go_gradient.gif:stylesheet.css
http\://www.intel.com/:oop.htm ot.htm
http\://dpgsites.png.intel.com/sites/dpg-pde-pg/deg_oap_cpu/face/default.aspx:oop.htm
