Version 1.0;

GlobalPList io_fsm_list    {

   GlobalPList ddr_iofsm_list    {

      GlobalPList ddr_pi_fsm_list [PreBurst lfd_pre_2M_vrevA2_16161616_4C_1ttx21_6g8m_funfn_sdr_0] [PRT lfd_com_2M_vrevA2_16161616_4C_1ttx21_6g8m_funfn_sdr_0] [Mask MBP_2_N, tap_pins_wo_TDO, bclk, ddr_pg, DDR0_RESET_N, vid_bus_wo_vcct, ddr_clk, view_pins, CATERR_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=sdr
         Pat g0031004N4751067_16161616a2x18_MA0cA01Rxg_2txx22C_4x0xxxpxx0xxx_ddr_iofsm;
      } # end of ddr_pi_fsm_list


      GlobalPList ddr_pldt_fsm_list [PreBurst lfd_pre_2M_vrevA2_16161616_4C_1ttx21_6g8m_funfn_sdr_0] [PRT lfd_com_2M_vrevA2_16161616_4C_1ttx21_6g8m_funfn_sdr_0] [Mask MBP_2_N, tap_pins_wo_TDO, bclk, ddr_pg, DDR0_RESET_N, vid_bus_wo_vcct, ddr_clk, view_pins, CATERR_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA2 mode=6g8m vectype=sdr
         Pat g0031004N4751067_16161616a2x18_MA0cA01Rxg_2txx22C_4x0xxxpxx0xxx_ddr_iofsm;
      } # end of ddr_pldt_fsm_list

   } # end of ddr_iofsm_list

} # end of io_fsm_list

