Version 1.0;

GlobalPList dicc_list    {

   GlobalPList diccuncore_list    {

      GlobalPList diccuncore_sbft_hfmnom_list [PreBurst dicc_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of diccuncore_sbft_hfmnom_list

   } # end of diccuncore_list


   GlobalPList diccpercore_list    {

      GlobalPList diccpercore_dicccore0_r1_hfmnom_list [PreBurst dicc_core0_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0] [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of diccpercore_dicccore0_r1_hfmnom_list


      GlobalPList diccpercore_dicccore1_r1_hfmnom_list [PreBurst dicc_core1_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of diccpercore_dicccore1_r1_hfmnom_list


      GlobalPList diccpercore_dicccore2_r1_hfmnom_list [PreBurst dicc_core2_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of diccpercore_dicccore2_r1_hfmnom_list


      GlobalPList diccpercore_dicccore3_r1_hfmnom_list [PreBurst dicc_core3_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of diccpercore_dicccore3_r1_hfmnom_list


      GlobalPList diccpercore_dicccore0123_r1_hfmnom_list [PreBurst dicc_core0123_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of diccpercore_dicccore0123_r1_hfmnom_list

   } # end of diccpercore_list


   GlobalPList dicc_sfr_hfmnom_list [PreBurst dicc_lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  [Mask mbp, vid_bus, bclk_buf, PRDY_N, TDO, VIEWDIGS_0, VIEWDIGS_1, ocp_data, ocp_stb, XDPRDYREQN_N, pcie_txp, dmi_txp, IIOTDO, THERMTRIP_N, TAPPWRGOOD]  {
#   LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
      Pat g0046645N4032251_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
   } # end of dicc_sfr_hfmnom_list

} # end of dicc_list

