Version 1.0;

GlobalPList digtherm_list    {

   GlobalPList digtherm_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_1ttx21_6g8m_funfn_sdr_0] [Mask pxp_outs, vid_bus_wo_vcct, IIOTDO, bclk_buf] {
#   LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=sdr
      Pat g0037494N4955841_16161616a2x18_MA0cA01Rxg_2txx22F_4x0xxxpxx0xxx_dts_TempOvd_IOUncalTemp_March;
      Pat g0036762N4955842_16161616a2x18_MA0cA01Rxg_2txx22F_4x0xxxpxx0xxx_pcu_ThermIO_StatLogBitGen;
      Pat g0036959N4955843_16161616a2x18_MA0cA01Rxg_2txx22F_4x0xxxpxx0xxx_pcu_dtsMMKill_FilterPeciAvg;
   } # end of digtherm_hfmnom_16161616_list

} # end of digtherm_list

