Version 1.0;

GlobalPList isense_list    {

   GlobalPList isense_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask bclk_buf, vid_bus, PRDY_N, pxp_outs]  {
#   LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
      Pat g0046182N4750582_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_isense_sfrsweep;
   } # end ofisense_hfmnom_16161616_list

} # end of isense_list

