Version 1.0;

GlobalPList pgt_list    {

   GlobalPList pgtchaincheck_core_16161616_list    {

      GlobalPList pgtchaincheck_core_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0044909N4956069_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_c0123_chaincheck_pgt;
      } # end of pgtchaincheck_core_hfmnom_16161616_list


      GlobalPList pgtchaincheck_core_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0044909N4956069_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_c0123_chaincheck_pgt;
      } # end of pgtchaincheck_core_hfmmax_16161616_list


      GlobalPList pgtchaincheck_core_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0044909N4956069_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_c0123_chaincheck_pgt;
      } # end of pgtchaincheck_core_hfmmin_16161616_list

   } # end of pgtchaincheck_core_16161616_list


   GlobalPList pgtcontff_16161616_list    {

      GlobalPList pgtcontff_percore_16161616_list    {

         GlobalPList pgtcontff_percore_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
            Pat g0045663N4751071_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_percore_seq_on_pgt_cont;
         } # end of pgtcontff_percore_hfmnom_16161616_list


         GlobalPList pgtcontff_percore_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
            Pat g0045663N4751071_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_percore_seq_on_pgt_cont;
         } # end of pgtcontff_percore_hfmmax_16161616_list


         GlobalPList pgtcontff_percore_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
            Pat g0045663N4751071_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_percore_seq_on_pgt_cont;
         } # end of pgtcontff_percore_hfmmin_16161616_list

      } # end of pgtcontff_percore_16161616_list


      GlobalPList pgtcontff_nocore_16161616_list    {

         GlobalPList pgtcontff_nocore_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
            Pat g0030907N4751070_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_off_pgt_cont;
         } # end of pgtcontff_nocore_hfmnom_16161616_list


         GlobalPList pgtcontff_nocore_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
            Pat g0030907N4751070_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_off_pgt_cont;
         } # end of pgtcontff_nocore_hfmmax_16161616_list


         GlobalPList pgtcontff_nocore_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#         LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
            Pat g0030907N4751070_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_off_pgt_cont;
         } # end of pgtcontff_nocore_hfmmin_16161616_list

      } # end of pgtcontff_nocore_16161616_list

   } # end of pgtcontff_16161616_list


   GlobalPList pgtcont_16161616_list    {

      GlobalPList pgtcont_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0031078N4751069_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_on_pgt_cont;
      } # end of pgtcont_hfmnom_16161616_list


      GlobalPList pgtcont_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0031078N4751069_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_on_pgt_cont;
      } # end of pgtcont_hfmmax_16161616_list


      GlobalPList pgtcont_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0031078N4751069_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_on_pgt_cont;
      } # end of pgtcont_hfmmin_16161616_list

   } # end of pgtcont_16161616_list


  GlobalPList pgtrrc_24161616_list    {

      GlobalPList pgtrrc_pgtrrca_hfmnom_24161616_list  [PreBurst lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat d0032450N4541297_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
      } # end of pgtrrc_pgtrrca_hfmnom_24161616_list


      GlobalPList pgtrrc_pgtrrc3_hfmnom_24161616_list  [PreBurst lfd_pre_2M_vrevA5_24161616_4C_0ttx21_6g8m_sbfzl_slowst_0]  {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat d0032450N4541297_24161616a2x18_MA0cA01Oxp_2bxa2eF_4c0xxxpxx0xxx_Nhm_max_st_1core_PWR_VIRUS2_rev0_a0;
     } # end of pgtrrc_pgtrrc3_hfmnom_24161616_list

   } # end of pgtrrc_24161616_list


   GlobalPList pgtrrp_16161616_list    {

      GlobalPList pgtrrp_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0033546N4956425_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_allon_c0123seq_view_pgt;
      } # end of pgtrrp_hfmnom_16161616_list


      GlobalPList pgtrrp_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0033546N4956425_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_allon_c0123seq_view_pgt;
      } # end of pgtrrp_hfmmax_16161616_list


      GlobalPList pgtrrp_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0033546N4956425_16161616a2x18_MA0cA01NxB_2bxx2eF_4x0xxxpxx0xxx_allon_c0123seq_view_pgt;
      } # end of pgtrrp_hfmmin_16161616_list

   } # end of pgtrrp_16161616_list


   GlobalPList pgtleak_16161616_list    {

      GlobalPList pgtleak_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0030939N4956068_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_view_pgt;
      } # end of pgtleak_hfmnom_16161616_list


      GlobalPList pgtleak_nom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0031078N4751069_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_on_pgt_cont;
         Pat g0030907N4751070_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_allcores_simul_off_pgt_cont;
         Pat g0045663N4751071_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_percore_seq_on_pgt_cont;
         Pat g0033365N4956424_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_sleep_view_pgt;
      } # end of pgtleak_nom_16161616_list


      GlobalPList pgtleak_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0030939N4956068_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_view_pgt;
      } # end of pgtleak_hfmmax_16161616_list


      GlobalPList pgtleak_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0030939N4956068_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_view_pgt;
      } # end of pgtleak_hfmmin_16161616_list

   } # end of pgtleak_16161616_list


   GlobalPList pgtleaksleep_16161616_list    {

      GlobalPList pgtleaksleep_hfmnom_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0033365N4956424_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_sleep_view_pgt;
      } # end of pgtleaksleep_hfmnom_16161616_list


      GlobalPList pgtleaksleep_hfmmax_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0033365N4956424_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_sleep_view_pgt;
      } # end of pgtleaksleep_hfmmax_16161616_list


      GlobalPList pgtleaksleep_hfmmin_16161616_list [PreBurst lfd_pre_2M_vrevA5_16161616_4C_0ttx21_6g8m_sbfsn_slowst_0] [Mask allpins_wo_TDO, ocp_data, ocp_stb, XDPRDYREQN_N, pxp_outs, IIOTDO, THERMTRIP_N] {
#      LRS_VCFINFO: utype=cmt vrev=vrevA5 mode=6g8m vectype=slowst
         Pat g0033365N4956424_16161616a2x18_MA0cA01NxB_2bxa2eF_4x0xxxpxx0xxx_alloff_allcores_sleep_view_pgt;
      } # end of pgtleaksleep_hfmmin_16161616_list

   } # end of pgtleaksleep_16161616_list

} # end of pgt_list

