<style>
SELECT
{
    BORDER-RIGHT: #0066cc 2px solid;
    BORDER-TOP: #0066cc 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #0066cc 2px solid;
    BORDER-BOTTOM: #0066cc 2px solid;
    FONT-FAMILY: Tahoma
}
BODY
{
    BORDER-RIGHT: #0066cc 2px solid;
    BORDER-TOP: #0066cc 2px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0066cc 2px solid;
    BORDER-BOTTOM: #0066cc 2px solid;
    FONT-FAMILY: Tahoma
}
TABLE
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, arial
}
TD.head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    CURSOR: hand;
    FONT-FAMILY: arial
}
LEGEND
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: arial
}
.BUTTON
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: gray;
    WIDTH: 120px;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center
}
.LABEL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial;
    TEXT-ALIGN: left
}
.HEADER
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: #0066cc;
    FONT-FAMILY: Arial
}
.HEADER2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #0066cc;
    FONT-FAMILY: Arial
}
.norm
{
    FONT-SIZE: 8pt;
    COLOR: #0066cc;
    FONT-FAMILY: Tahoma
}
A:visited
{
    COLOR: #0066cc;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #0066cc;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #0066cc;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #ff0000;
    TEXT-DECORATION: none
}
</style>
