
# Config: TL_CMT_Class


Version 1.0;

#---------------------------------------------------------------------------------------------------------
# Inserting PLB Statments Resulting from the Evaluation of the Structure sub-hash
#---------------------------------------------------------------------------------------------------------

   GlobalPList gv3_ud_0114_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN14C0A )
      Pat g2070088Y000975_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP14C0A )
      Pat g2070089Y000974_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0114_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0114_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN14C1A )
      Pat g2055443Y000975_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP14C1A )
      Pat g2055445Y000974_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0114_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0113_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN13C0A )
      Pat g2061553Y000977_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP13C0A )
      Pat g2055628Y000976_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0113_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0113_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN13C1A )
      Pat g2052719Y000977_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP13C1A )
      Pat g2052725Y000976_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0113_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0112_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN12C0A )
      Pat g2056595Y000979_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP12C0A )
      Pat g2055368Y000978_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0112_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0112_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN12C1A )
      Pat g2049271Y000979_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP12C1A )
      Pat g2049191Y000978_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0112_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0111_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN11C0A )
      Pat g2055636Y000981_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP11C0A )
      Pat g2055627Y000980_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0111_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0111_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN11C1A )
      Pat g2035425Y000981_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP11C1A )
      Pat g2035495Y000980_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0111_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0110_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN10C0A )
      Pat g2055218M003504_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP10C0A )
      Pat g2055346M003503_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0110_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0110_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN10C1A )
      Pat g2034812M003504_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP10C1A )
      Pat g2034825M003503_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0110_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0109_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN09C0A )
#      Pat g2052694M005942_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP09C0A )
      Pat g2052695M005941_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0109_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0109_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN09C1A )
      Pat g2027407M005942_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP09C1A )
      Pat g2027558M005941_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0109_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0108_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN08C0A )
      Pat g2055126M005944_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP08C0A )
      Pat g2050128M005943_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0108_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0108_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN08C1A )
      Pat g2012411M005944_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP08C1A )
      Pat g2012429M005943_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0108_cmp1_a_d_010604_list


   GlobalPList gv3_ud_0107_cmp0_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_0_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN07C0A )
      Pat g2035275M007704_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP07C0A )
      Pat g2035280M007703_010604d_NB1607ej_0fmxxf0xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0107_cmp0_a_d_010604_list


   GlobalPList gv3_ud_0107_cmp1_a_d_010604_list  [ PreBurst cwma_pre_vrevN4_P_010606_d_N_B1_607e_j_f_m_1_h_a_f2_reg_0_x ] [Mask ALL_MASK_PINs_CWA,BPM_2_3t0nn_3, BPM_2_3t0nn_2, BPM_2_3t0nn_1, BPM_2_3t0nn_0] { 
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVDN07C1A )
      Pat g2015704M007704_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_down;
#     ( Individual Files From: vcf_mel_indiv_list.reg_xsgv.vrevN4.010604.mt001562_031_TL__CORE_GVUP07C1A )
      Pat g2015855M007703_010604d_NB1607ej_0fmxxf1xxhra7xxxxxPmrxN4_ud_transactions_up;
   } # end of gv3_ud_0107_cmp1_a_d_010604_list

